<div class="h-[111px] w-full px-[100px] py-[33px]">
  <div class="flex justify-between items-center">
    <div class="flex gap-[169px]">
      <img src="../../../assets/logo.png" alt="" />
      <div
        class="flex h-[46px] items-center gap-3 px-[48px] py-[3] rounded-lg bg-[#F6F6F6]"
      >
        <i class="fa-solid fa-search text-[#9C989A] w-5 h-5"></i>
        <input
          type="text"
          placeholder="Search"
          class="text-[#9C989A] bg-transparent font-medium text-[18px] w-20"
        />
      </div>
      <div class="">
        <select name="" id="">
          <option value="">Categories</option>
          <option value="">Ali Hasan</option>
        </select>
      </div>
    </div>
    <div class="flex gap-[29px]">
      <div class="btn-primary">Login</div>
      <div class="btn">Sign Up</div>
    </div>
  </div>
</div>
